[submodule "metadef"]
	path   = metadef
	url    = https://github.com/WHULuoJiaTeam/metadef.git
	branch = master

[submodule "metadef"]
	url  = https://github.com/WHULuoJiaTeam/metadef
	path = metadef

